<div class="container main m-5">

  <div class="row p-3 justify">
    <h1>Gestor de Empleados</h1>
    <button class="btn btn-sm btn-success" (click)="toCreate()">Crear empleado</button>
  </div>

  <div class="row">
    <app-create-employee class="col-12"
                         *ngIf="creating"
                         (save)="create($event)"></app-create-employee>

    <app-edit-employee class="col-12" *ngIf="editing" (update)="edit($event)"></app-edit-employee>

  </div>

  <div class="row m-3">
    <table class="table table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Teléfono</th>
        <th scope="col">Correo</th>
        <th scope="col">Dirección</th>
        <th scope="col">Acción</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let employee of employees">
        <th scope="row">{{ employee.first_name }}</th>
        <td>{{ employee.last_name }}</td>
        <td>{{ employee.phone }}</td>
        <td>{{ employee.email }}</td>
        <td>{{ employee.address }}</td>
        <td>
          <button class="btn btn-sm btn-primary m-1" (click)="toEdit(employee)">Editar</button>
          <button class="btn btn-sm btn-warning m-1" (click)="remove(employee.id)">Eliminar</button>
        </td>
      </tr>
      </tbody>
    </table>

  </div>


</div>
