<div class="container">
    <h3>Editar Empleado</h3>

    <div class="row">

        <form [formGroup]="formEdit" class="col-12" (ngSubmit)="submit()">

            <div class="row">
                <div class="col-4">

                    <div class="form-group">
                        <label for="first_name">Nombre</label>
                        <input class="form-control" id="first_name" type="text" formControlName="first_name">
                    </div>

                    <div class="form-group">
                        <label for="last_name">Apellidos</label>
                        <input class="form-control" id="last_name" type="text" formControlName="last_name">
                    </div>

                </div>

                <div class="col-4">

                    <div class="form-group">
                        <label for="phone">Teléfono</label>
                        <input class="form-control" id="phone" type="text" formControlName="phone">
                    </div>

                    <div class="form-group">
                        <label for="email">Correo</label>
                        <input class="form-control" id="email" type="text" formControlName="email">
                    </div>

                </div>

                <div class="col-4">

                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input class="form-control" id="address" type="text" formControlName="address">
                    </div>

                    <button class="btn btn-primary mt-4 mr-5" type="submit">Guardar</button>

                </div>
            </div>


        </form>

    </div>


</div>
